.wrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 11px;
  cursor: pointer;
  p {
    font-size: 1.4rem;
    font-weight: 800;
  }

  &:hover {
    color: var(--main-color-primary);
  }

  & > :first-child {
    font-size: 22px;
  }
}

.hoverItem {
  &:hover {
    color: white;
  }
}
