.wrapper {
  background-color: var(--main-color-black);
  border-radius: 10px;
  padding: 40px 20px 0 20px;
  color: white;
  max-width: 350px;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 350px;
  & > :first-child {
    background-color: red;
    padding: 2px 14px;
    border-radius: 5px;
    font-weight: 600;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 140%;
  }
}
.bannerImg {
  max-width: 240px;
  margin-top: 40px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 991px) {
  .bannerImg {
    display: none;
  }
  .deals,
  .wrapper {
    max-width: 100%;
  }
  .wrapper {
    padding-bottom: 40px;
  }
}
