.wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.breadcrumb {
  padding: 2px 14px 2px 14px;
  border-radius: 40px;
  border: 1px solid var(--main-color-primary);
  font-weight: 600;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 26px;
  transition: color 0.2s linear;

  &:first-child:hover {
    color: var(--main-color-primary);
  }
}

.breadcrumbLine {
  width: 30px;
  height: 2px;
  background-color: var(--main-color-primary);
}

.breadcrumbActive {
  background-color: var(--main-color-primary);
  color: white;
}
