.wrapper {
  max-width: 1440px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.loadingContainer {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
  font-size: 10rem;

  & > :first-child {
    animation: loading 1s linear infinite;
    color: var(--main-color-primary);
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.productWrapper {
  margin: 70px 0px 0px 0px;
  display: flex;
  gap: 40px;
}

.productImgWrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.currentImg {
  width: 100%;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 13/12;
  }
}
.productsImageWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}
.imagesContainer {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
}
.imgActive {
  border: 1px solid var(--main-color-primary);
}
.contentProduct {
  padding: 40px 30px 40px 30px;
  border: 1px solid var(--main-color-primary);
  border-radius: 10px;
  height: fit-content;
  max-width: 540px;

  h2 {
    font-size: 3rem;
    margin-bottom: 12px;
    line-height: 40px;
  }
}

.startContainer {
  & > :first-child {
    font-size: 1.8rem;
    line-height: 140%;
  }
}
.classify {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.colorProducts,
.configuration {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.4rem;
  span {
    font-size: 1.6rem;
    font-weight: bold;
  }
  div {
    border: 1px solid var(--1-main-colors--border);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
  }
  .bttActive {
    border: 1px solid var(--main-color-primary);
  }
}
.priceContainer {
  margin-top: 10px;
  div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 2rem;
  }
}
.description {
  margin-top: 22px;
  line-height: 28px;
  max-width: none;
  color: var(--1-main-colors--paragraph);
  font-weight: 600;
}

.quantity {
  position: relative;

  max-width: 120px;
  height: 50px;

  &:hover {
    .buttonQuantity {
      opacity: 1;
    }
  }
  input {
    width: 100%;
    height: 100%;
    padding: 8px 6px 8px 50px;
    line-height: 28px;
    font-size: 1.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--1-main-colors--border);
  }
}
.wrapperCart {
  border-bottom: 1px solid var(--1-main-colors--border);
}
.quantityBtt {
  display: flex;
  gap: 10px;
  margin: 23px 0 28px 0;

  & > :nth-child(2) {
    flex: 1;
    background-color: var(--main-color-primary);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: bold;
    border-radius: 5px;
  }
}
.quantityProduct {
  color: var(--main-color-primary);
  margin-bottom: 10px;
}
.inStock {
  color: red;
}

.buttonQuantity {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 9px;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.4s linear;
  button {
    background-color: var(--1-main-colors--border);
    height: 15px;
    width: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.IdProductShare {
  padding: 46px 0 26px 0;
  border-bottom: 1px solid var(--1-main-colors--border);
}
.IdProduct,
.share {
  display: flex;
  align-items: center;
  gap: 20px;

  & > :first-child {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.share {
  div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;

  & > :first-child {
    font-size: 1.8rem;
    font-weight: 800;
  }
  & > :nth-child(2) {
    display: flex;
    gap: 10px;
    font-size: 3rem;
  }
}

.container {
}
.desReWrapper {
  margin-top: 60px;
  padding: 50px 49px 70px 49px;
  border-radius: 20px;
  border: 1px solid var(--1-main-colors--border);
  box-shadow: -1px 10px 5px 1px var(--1-main-colors--border);
}

.tabMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  div {
    padding: 10px 25px 10px 25px;
    border: 1px solid var(--1-main-colors--border);
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: border 0.3s linear;

    &:hover {
      border: 1px solid var(--main-color-primary);
    }
  }
}

.tabActive {
  background-color: var(--main-color-primary);
  color: white;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  & > :first-child {
    font-size: 4rem;
  }
}
.userImg {
  width: 50px;
  height: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
  }
}
.userNameDate {
  display: flex;
  flex-direction: column;
}
.comment {
  color: var(--1-main-colors--paragraph);

  input {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--1-main-colors--border);
    border: none;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }
}

.submitComment {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  div {
    background-color: var(--main-color-primary);
    color: white;
    width: fit-content;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.4rem;
  }
}

.addToCart {
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
}
@media screen and (max-width: 993px) {
  .productWrapper {
    flex-direction: column;
  }
  .contentProduct {
    max-width: 100%;
  }
}
