.wrapper {
  width: 100%;
  margin-top: 26px;
}

.tilte {
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}
.infor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(228, 228, 228);
  padding: 10px;

  div {
    display: flex;
    & > :first-child {
      font-weight: 700;
    }
  }
}
.orders {
  margin-bottom: 10px;
  border: 1px solid var(--1-main-colors--border);
  cursor: pointer;
}
.product {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  img {
    width: 82px;
    height: 82px;
    object-fit: cover;
    border-radius: 5px;
  }
  & > :nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;
    line-height: 2.5rem;

    p:first-child {
      font-weight: 700;
    }
  }
  & > :nth-child(3) {
    padding-right: 15px;
  }
}

.total {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 2rem;
  & > :nth-child(2) {
    color: var(--main-color-primary);
    font-weight: bold;
  }
  padding: 10px;
}
.idOrder {
  color: var(--main-color-primary);
}
